/code/class_3/Atributes/nbproject/private/
/code/class_3/Atributes/build/
/code/class_4/Ciclos/nbproject/private/
/code/class_4/Ciclos/build/
/code/class_4/Practice2/nbproject/private/
/code/class_4/Practice2/build/
/code/class_5/switch/nbproject/private/
/code/class_5/switch/build/
/code/class_5/practicaSwitch/nbproject/private/
/code/class_5/practicaSwitch/build/